<%- include("./partials/header") -%>
    <div class="container-fluid" style="text-align: center; letter-spacing: 5px;">
        <h1 class="display-1" style="font-size: 60px; margin: 30px auto;">Blog-App</h1>
        <button class="btn btn-primary" onclick="window.location.href='/home';">Go to Home</button>
    </div>
<%- include("./partials/footer") -%>